/*
My color palette: https://www.shecodes.io/palettes/267
.first-color { 
	background: #233142; 
}
	
.second-color { 
	background: #455d7a; 
}

.third-color { 
	background: #f95959; 
}

.fourth-color { 
	background: #e3e3e3; 
}

*/

html {
    background-color: #e3e3e3;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas,
              'DejaVu Sans Mono', monospace;
    font-weight: normal;
    color: #233142;
}
  
body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}
  
* {
    box-sizing: border-box;
}
  
h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

a {
    text-decoration:none;
}

button {
    background-color: #f95959; 
    border: none;
    color: #e3e3e3;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 12px;
}

button:enabled:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:disabled { 
    opacity: 0.4;
}

a.nav-links {
    color: #f95959;
}

a.nav-links:hover {
    color: #f95959;
    text-decoration: underline;
}

#header-bar {
    display: flex;
    flex-flow: column;
}

#links {
    text-align: right;
    line-height: 50%;
}

#blog-link {
    color: #233142;
}

#blog-link:hover {
    
}

#name {
    text-align: left;
    line-height: 50%
}

#footer-container { 
    display: flex; 
    align-items: center; 
    position:sticky;
}

#footer-container > div {
    flex: 1 1 calc(50%);
}

#socials {
    
}

#blogNavigation {
    display: relative;
    padding-top: 10px; 
    padding-bottom: 5px;
}

#currentListOfEntries {
    position: relative;
    float: left;    
}


#nextBlogPage{
    position: relative;
    float: right;
}

#previousBlogPage{
    position: relative;
    float: right;
}
