---
const pageTitle = "About Me";
import '../styles/global.css';
import Links from '../components/Links.astro';
import Layout from '../layouts/Layout.astro';
---

<style>
    p {
        padding-bottom: 50px;
    }
</style>

<body>
    <!-- <h1>{pageTitle}</h1> -->
    <h2>My name is Connor Rhoades!</h2>
  
    <p>I am a mid-level software developer with years of experience working with X12 documents and with Electronic Data Interchange (EDI). My experience includes various modern technologies as well as working within older systems and processes. I am using this website as a way to show you about myself, as well as a place to write about some of the various subjects I have worked within</p>
</body>