---
import '../styles/global.css';
---

<body>
    <h1>My Blog Entries</h1>
    <p>This is where I will post about my journey learning Astro.</p>
    <ul>
      <li><a href="/component-posts/on-office-politics/">On Office Politics</a></li>
      <li><a href="/component-posts/on-legacy-code">On Legacy Code</a></li>
    </ul>
</body>