---
import '../styles/global.css';
const posts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true })).sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
const { numOfPosts } = Astro.props;
---


<h3>Recent Blogs</h3>

<div id="blog-entries"></div>

<div id="blogNavigation">
    
    <div id="currentListOfEntries"></div>
    <div id="nextBlogPage"><button id="nextBlogPageButton">Next Page</button></div>
    <div id="previousBlogPage"><button id="previousBlogPageButton">Previous Page</button></div>

</div>

<div style="padding-bottom:50px;">

</div>

<!-- TODO: Refactor -->
<script define:vars={{ numOfPosts , posts}}>
    const page = 0;
    let lastPost = 0;
    let firstPost = 0;

    function updateBlogListing(page, nextpage) {

        if (nextpage) {
            page += 1;
        } else {
            page -= 1;
        }

        if(page < 0) {
            page = 0;
        }

        document.getElementById("blog-entries").innerHTML = ""
        displayBlogEntries(page)

        // TODO: if on last page after the update, gray out the button
    }

    function displayBlogEntries(page) {
        const numberOfPostsToDisplay = Number(numOfPosts)
        lastPost = numberOfPostsToDisplay + (numberOfPostsToDisplay * page);

        if (lastPost > posts.length) {
            lastPost = posts.length
        }
        firstPost = page * numberOfPostsToDisplay;

        writeEntriesToPage(posts, firstPost, lastPost);

        document.getElementById("currentListOfEntries").innerText = (firstPost+1) + " - " + lastPost
        
        if(lastPost >= posts.length) {
            disableNextPageButton()
        } else {
            enableNextPageButton()
        }

        if(firstPost == 0 ) {
            disablePreviousPageButton()
        } else {
            enablePreviousPageButton()
        }
    }

    function generateFirstPostNumber() {

    }

    function generateLastPostNumber() {

    }

    function disableNextPageButton() {
        document.getElementById("nextBlogPageButton").disabled = true;
    }

    function disablePreviousPageButton() {
        document.getElementById("previousBlogPageButton").disabled = true;
    }

    function enableNextPageButton() {
        document.getElementById("nextBlogPageButton").disabled = false;
    }

    function enablePreviousPageButton() {
        document.getElementById("previousBlogPageButton").disabled = false;
    }

    function writeEntriesToPage(posts, firstPost, lastPost) {
        // let blogListingDiv = document.createElement("div")
        // blogListingDiv.id = "blog-entries"
        let blogListingDiv = document.getElementById("blog-entries")

        for (const post of posts.slice(firstPost, lastPost)) {


            const newDiv = document.createElement("div");
            newDiv.id="blog-entry"

            const newAttribute = document.createElement("a");
            newAttribute.href = post.url;

            const newHeader = document.createElement("h3");
            newHeader.innerText=post.frontmatter.title;

            const newP = document.createElement("p");
            newP.innerText="Publish Date: " + post.frontmatter.pubDate;

            const newP2 = document.createElement("p");
            newP2.innerText=post.frontmatter.description;



            newAttribute.append(newHeader);
            newAttribute.append(newP);
            newAttribute.append(newP2);

            newDiv.append(newAttribute);
            newDiv.append(document.createElement("hr"));
            blogListingDiv.append(newDiv)
        }

        document.body.insertBefore(blogListingDiv, document.getElementById("blogNavigation"))
    }

    displayBlogEntries(0)

    if(lastPost >= posts.length) {
        disableNextPageButton()
    }

    if(firstPost == 0 ) {
        disablePreviousPageButton()
    }



    document.getElementById("nextBlogPageButton").addEventListener("click", () => updateBlogListing(page, nextpage=true));
    document.getElementById("previousBlogPageButton").addEventListener("click", () => updateBlogListing(page, nextpage=false));
</script>


<!--

What did I learn:
1. The --- block is rendered server side, <script> is client side. 
2. I need to be VERY explicit with component names
3. I need to be careful about NOT being right next to parameter input. 
4. The position of an HTML element in reference to the script block matters if the script block is generating HTML.
-->
