<!-- Put some space between the links -->

<style>
    #links {
        color: #f95959;
    }
</style>

<!-- <script>
    window.transitionToPage = function(href) {
        document.querySelector('body').style.opacity = 0
        setTimeout(function() { 
            window.location.href = href
        }, 50)
    }

    document.addEventListener('DOMContentLoaded', function(event) {
        document.querySelector('body').style.opacity = 1
    })
</script> -->

<div id="header-bar">

    <div id="name">
        <!-- Put an icon or something here -->
    </div>
    <div id="links">
        <a href="/" class="nav-links">Home</a>
        <a href="/blog/" class="nav-links">Blog</a>
        <a href="/work/" class="nav-links">Work</a>
        <!-- <span class="nav-links" onclick="transitionToPage('/')">Home</span>
        <span class="nav-links" onclick="transitionToPage('/blog/')">Blog</span>
        <span class="nav-links" onclick="transitionToPage('/work/')">Work</span> -->
    </div>
</div>
