<!-- Put some space between the links -->

<div id="header-bar">

    <div id="name">
        <!-- Put an icon or something here -->
    </div>
    <div id="links">
        <a href="/">Home</a>
        <a href="/blog/">Blog</a>
        <a href="/work/">Work</a>
    </div>
</div>
