<!-- TODO: Proofread the below -->

<h2 id="Job-title">Developer III</h2>
<h3 id="Place-of-work">Palmetto GBA</h3>
<h3 id="Dates-of-employment">October 2024 - Current</h3>
<div id="job-responsibilities"></div>
    <ul>
        <li>Provide mentorship to new technicians brought into EDIG</li>
        <li>Help develop an internal Java web application titled EDIGHub in an effort to streamline work performed by the customer support team, as well as provide quick answers to inquiring customers, preventing the queries from taking up the bandwidth of the support team</li>
        <li>The responsibilities listed below</li>
    </ul>
<hr/>

<h2 id="Job-title">Developer II</h2>
<h3 id="Place-of-work">Palmetto GBA</h3>
<h3 id="Dates-of-employment">May 2022 - October 2024</h3>
<div id="job-responsibilities"></div>
    <ul>
        <li>Maintain a complex Java EJB web service that requires 24/7 operation</li>
        <li>Provide training for new personnel to onboard them into the EDIG environment</li>
        <li>Coordinate with project teams to define customer solutions depending on their EDIG requirements and needs</li>
        <li>Develop documentation of a complex environment for training the internal team as well as to provide quick and accessible information to downstream stakeholders</li>
        <li>The responsibilities listed below</li>
    </ul>
<hr/>

<h2 id="Job-title">Developer I</h2>
<h3 id="Place-of-work">Palmetto GBA</h3>
<h3 id="Dates-of-employment">October 2020 - May 2022</h3>
<div id="job-responsibilities">
    <ul>
        <li>Member of the Commercial and Tricare EDIG team, responsible for faciliating the processing of HIPAA compliant X12 health care documents as well as meeting strict SLA standards for completed claims processing</li>
        <li>Faciliate workflow improvements within the department by implementing Splunk-based solutions to diagnose and address programmatic and systematic errors</li>
        <li>Creates and modifies programs across Windows, AIX, and zLinux environments using PowerShell, KornShell, VBScript, and C languages</li>
        <li>Perform production support, quickly addressing any number of system issues to ensure that customer data is processed within SLA requirements</li>
    </ul>
</div>

<hr/>

<h2 id="Job-title">ELTP Student</h2>
<h3 id="Place-of-work">Palmetto GBA</h3>
<h3 id="Dates-of-employment">May 2020 - October 2020</h3>
<div id="job-responsibilities">
    <ul>
        <li>Partipant in full-time entry level training program revolving on full-stack development done by Blue Cross Blue Shield of South Carolina</li>
        <li>Learned and utilized the following technologies: java web applications, JavaScript, HTML, CSS, DB2, WebSphere servers and Liberty servers</li>
    </ul>
</div>